/* Понял как тут использовать scss переменные, когда закончил проект(в начале не получалось) */
:root {
  --color-text: rgba(0, 0, 0, 1);
  --color-bg: rgba(255, 255, 255, 1);
  --color-text-active: rgba(255, 255, 255, 1);
  --color-bg-active: rgba(0, 0, 0, 1);
  --color-bg-hover: rgba(237, 237, 237, 1);
  --color-border: rgba(0, 0, 0, 0.3);
  --color-border-t: rgba(0, 0, 0, 0.3);
  --color-bg-inp-r: rgba(239, 239, 239, 1);
}
:root[theme="dark"] {
  --color-text: rgba(255, 255, 255, 1);
  --color-bg: rgba(0, 0, 0, 1);
  --color-text-active: rgba(0, 0, 0, 1);
  --color-bg-active: rgba(255, 255, 255, 1);
  --color-bg-hover: rgba(70, 70, 70, 1);
  --color-border: rgba(255, 255, 255, 1);
  --color-border-t: rgba(255, 255, 255, 0.3);
  --color-bg-inp-r: rgba(255, 255, 255, 1);
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}
